---
import { marked } from "marked";

export interface Props {
  // employer: Object;
  employer: {
    dates: {
      start: string
      end: string
    },
    role: string,
    url?: string,
    name: string,
    headline: string,
    profile?: string
  }
}

const { employer } = Astro.props;
---

<li>
  <h4>{employer.dates.start} - {employer.dates.end}</h4>
  <h3>
    {employer.role} at
    {employer.url && <a href={employer.url}>{employer.name}</a>}
    {!employer.url && employer.name}
  </h3>

  <h4>
    {employer.headline}
  </h4>

  {
    employer.profile && (
      <div set:html={marked.parse(employer.profile)} class="from-markdown" />
    )
  }
</li>

<style>
  li {
    border-top-width: 1px;
    border-top-style: solid;
    border-top-color: var(--colour-primary);

    margin: 1rem 0;
  }

  h4 {
    font-style: italic;
  }
</style>
