---
import { marked } from "marked";

export interface Props {
  // employer: Object;
  employer: {
    dates: {
      start: string
      end: string
    },
    role: string,
    url?: string,
    name: string,
    headline: string,
    profile?: string
  }
}

const { employer } = Astro.props;
---

<li>
  <section class="dates">{employer.dates.start} - {employer.dates.end}</section>
  <section class="role">
    {employer.role} at
    {employer.url && <a href={employer.url}>{employer.name}</a>}
    {!employer.url && employer.name}
  </section>

  <section class="headline">
    {employer.headline}
  </section>

  {
    employer.profile && (
      <section set:html={marked.parse(employer.profile)} class="description from-markdown" />
    )
  }
</li>

<style>
  li {
    display: grid;
    grid-template-areas:
      "dates"
      "role"
      "headline"
      "description";
    border-top-width: 1px;
    border-top-style: solid;
    border-top-color: var(--palette-gold);

    padding: 1rem 0;
  }

  .dates {
    grid-area: dates;
    font-family: var(--font-strong);
    margin-bottom: 1rem;
  }

  .role {
    grid-area: role;
    font-family: var(--font-strong);
    font-size: clamp(1rem, -0.7rem + 8vw, 2rem);
    padding-top: 1rem;
    padding-bottom: 1rem;
    max-width: fit-content;

    background-color: var(--palette-blue);
    padding: 1rem;
    border: 0.2rem solid var(--palette-gold);
    margin-bottom: 1rem;
  }

  .role a {
    color: var(--palette-ecru);
  }

  .role a:hover {
    color: var(--palette-gold);
  }

  .headline {
    grid-area: headline;
    font-style: italic;
    font-family: var(--font-fancy);
  }

</style>
