---
import { marked } from "marked";

export interface Props {
  // employer: Object;
  employer: {
    dates: {
      start: string;
      end: string;
    };
    role: string;
    url?: string;
    name: string;
    headline: string;
    profile?: string;
  };
}

const { employer } = Astro.props;
---

<li>
  <time>{employer.dates.start} - {employer.dates.end}</time>
  <section class="panel">
    {employer.role} at
    {employer.url && <a href={employer.url}>{employer.name}</a>}
    {!employer.url && employer.name}
  </section>

  <section class="headline">
    {employer.headline}
  </section>

  {
    employer.profile && (
      <section
        set:html={marked.parse(employer.profile)}
        class="description from-markdown"
      />
    )
  }
</li>

<style>
  time::before {
    content: "";
    background-image: url("/assets/flourishes/divider.svg");
    background-repeat: no-repeat;
    background-position-x: center;
    background-position-y: center;
    background-size: 30%;
    display: grid;
    padding-bottom: 3rem;
  }

  li {
    display: grid;
    grid-template-areas:
      "dates"
      "role"
      "headline"
      "description";
    padding: 1rem 0;
    gap: 1rem;
  }

  .panel {
    font-size: clamp(1rem, -0.7rem + 8vw, 2rem);
    font-family: var(--font-plain);
  }

  time {
    grid-area: dates;
    font-family: var(--font-plain);
  }

  .headline {
    grid-area: headline;
    font-style: italic;
    font-family: var(--font-strong);
  }
</style>
