---
import BaseHead from "../components/BaseHead.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";

import Snow from "../components/Snow.astro";

import GlobalStyles from "../components/GlobalStyles.astro";
import { SITE_TITLE } from "../config";
import "@mdi/font/css/materialdesignicons.css";

export interface Props {
  title?: string;
  titlePrefix?: string;
  description?: string;
  image?: string;
}

const { title, titlePrefix, description, image } = Astro.props;

var headTitle = title;
if (titlePrefix) {
  headTitle = titlePrefix + " :: " + headTitle;
}

var pageTitle = SITE_TITLE;
if (description) {
  pageTitle = description;
}
---

<html lang="en">
  <head>
    <BaseHead title={headTitle} description={description} image={image} />

    <Snow />
  </head>
  <body>
    <Header />
    <main>
      <a href="/" class="title">
        <h1>{SITE_TITLE}</h1>
      </a>
      {title && <h2 class="title">{pageTitle}</h2>}
      <slot />
    </main>
    <Footer />

    <GlobalStyles />
    <style>
      html {
        height: 100%;
      }
      body {
        margin: 0;
        box-sizing: border-box;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-areas: "nav" "main" "footer";
        grid-template-rows: auto auto 1fr;
        min-height: 100vh;
        overflow: auto;
        color: var(--colour-primary);
        background: url("/assets/backgrounds/grid.png"),
          radial-gradient(var(--colour-bg-light), var(--colour-bg));
        opacity: 0.9;
        font-family: var(--font-primary);
        font-size: 1.5rem;
        text-shadow: calc(-1 * var(--shadow-offset)) var(--shadow-offset) 0
            var(--colour-shadow),
          var(--shadow-offset) var(--shadow-offset) 0 var(--colour-shadow),
          var(--shadow-offset) calc(-1 * var(--shadow-offset)) 0
            var(--colour-shadow),
          calc(-1 * var(--shadow-offset)) calc(-1 * var(--shadow-offset)) 0
            var(--colour-shadow);
      }
      main {
        grid-area: main;
        width: clamp(60%, var(--max-width), 90%);
        margin-inline: auto;
      }
    </style>
  </body>
</html>
