---
import Base from "./Base.astro";
import MastodonComments from "../components/MastodonComments.astro";

export interface Props {
  content: string;
  title: string;
  GHslug: string;
  mastodon?: string;
}

const { content, title, GHslug, mastodon } = Astro.props;

function ghUrl(slug: string) {
  return "https://github.com/" + slug;
}
---

<Base title={title} titlePrefix="Projects" description={title}>
  <section class="project-readme">
    <article set:html={content} class="from-markdown" />
  </section>
  <section id="button">
    <span>
      <a href={ghUrl(GHslug)} class="github-button">
        <span class:list={["mdi", "mdi-github"]}></span>
        {title} on Github
      </a>
    </span>
  </section>
  {mastodon && <MastodonComments mastodon={mastodon} />}

  <style>
    section.project-readme {
      border-top: 1px solid var(--palette-gold);
      margin-top: 1rem;
    }

    section#button {
      height: 5rem;
    }
    /* this class-specifier shouldn't be required, but it broke on Netlify without it */
    a.github-button {
      display: block;
      padding: 1rem;
      width: fit-content;
      background-color: var(--palette-blue);
      color: var(--palette-ecru);
      text-shadow: none;
      margin-left: auto;
      border-radius: 1rem;
    }

    a.github-button:hover {
      color: var(--palette-gold);
    }

  </style>
</Base>
