---
import Base from "./Base.astro";
import MastodonComments from "../components/MastodonComments.astro";
import Logos from "../data/logos.yaml";

export interface Props {
  content: string;
  title: string;
  GHslug?: string;
  CodebergSlug?: string;
  mastodon?: string;
}

const { content, title, GHslug, CodebergSlug, mastodon } = Astro.props;

function ghUrl(slug: string) {
  return "https://github.com/" + slug;
}

function CodebergUrl(slug: string) {
  return "https://codeberg.org/" + slug;
}

var buttonUrl = ghUrl(GHslug);
var buttonSVG = Logos.github.data;
var buttonText = title + " on Github";

if (CodebergSlug) {
  buttonUrl = CodebergUrl(CodebergSlug);
  buttonSVG = null;
  buttonText = title + " on Codeberg";
}
---

<Base title={title} titlePrefix="Projects" description={title}>
  <section class="project-readme">
    <article set:html={content} />
  </section>

  <section id="button">
    <article class="panel">
      <a href={buttonUrl}>
        {
          buttonSVG && (
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
              <path d={buttonSVG} />
            </svg>
          )
        }
        {buttonText}
      </a>
    </article>
  </section>
  {mastodon && <MastodonComments mastodon={mastodon} />}

  <style is:global>
    video {
      width: 90%;
      margin-inline: auto;
      display: block;
    }
  </style>

  <style>
    svg {
      width: 1.1rem;
      stroke: var(--colour-background);
      stroke-width: 0.07rem;

      & path {
        fill: var(--colour-primary);
      }
    }

    a:hover svg path {
      fill: var(--colour-secondary);
    }

    section.project-readme {
      margin-top: 1rem;
    }

    section#button {
      height: 5rem;
    }

    .panel {
      width: fit-content;
      margin-left: auto;
      padding: 1rem;
    }

    a {
      font-size: 1.2rem;
    }

    .project-readme {
      & ul {
        list-style-type: disc;
        margin-left: 2rem;
      }

      li {
        line-height: 2rem;
      }
    }
  </style>
</Base>
