---
import Base from "./Base.astro";
import MastodonComments from "../components/MastodonComments.astro";

export interface Props {
  content: string;
  title: string;
  GHslug: string;
  mastodon?: string;
}

const { content, title, GHslug, mastodon } = Astro.props;

function ghUrl(slug: string) {
  return "https://github.com/" + slug;
}
---

<Base title={title} titlePrefix="Projects" description={title}>
  <section class="project-readme">
    <article set:html={content} class="from-markdown" />
  </section>
  <section id="button">
    <article class="panel">
      <a href={ghUrl(GHslug)}>
        <span class:list={["mdi", "mdi-github"]}></span>
        {title} on Github
      </a>
    </article>
  </section>
  {mastodon && <MastodonComments mastodon={mastodon} />}

  <style is:global>
    video {
      width: 90%;
      margin-inline: auto;
      display: block;
    }
  </style>

  <style>
    section.project-readme {
      margin-top: 1rem;
    }

    section#button {
      height: 5rem;
    }

    .panel {
      width: fit-content;
      margin-left: auto;
      padding: 1rem;
    }

    a {
      font-size: 1.2rem;
    }

    a:hover {
      color: var(--colour-gold);
    }
  </style>
</Base>
